body {
  margin: 0;
  padding: 0;
}

#app {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;
  padding: 1rem;
}

.card {
  background: white;
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  cursor: pointer;
  color: #000;
}
